@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    cursor: none;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #181818;
    color: #ffffff;
}
.cursor{
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    transform: translate(-50%, -50%);
    transition: transform 0.15s;
    pointer-events: none;
    mix-blend-mode: difference;
}
.portfolio-links{
    list-style: none;
}
.portfolio-link{
    font-size: 40px;
    color: #fff;
    text-decoration: none;
    position: relative;
}
.portfolio-links li:not(:last-child){
    margin-bottom: 20px;
}
.portfolio-links li:hover ~ .cursor{
    transform: scale(5);
}